@font-face {
    font-family: radio;
    src: url(../../../../assets/font/MFDOOM.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: radio;
}
:root {
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color: white;
    --main-color: #365939;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}.first{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
span{
    color: var(--main-color);
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: 'Beginner Web Designer';
    color: var(--main-color);
    animation: words 20s infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: 'Beginner Web Designer';
    }
    21%,
    40%{
        content: "First Year Student";
    }
    41%,
    60%{
        content: "BS Information Technology Student";
    }
    61%,
    80%{
        content: "Creative Designer";
    }
    81%,
    100%{
        content: "20 Years Old Designer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.about{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-image: url(../../../../assets/img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
}
.about h2 span{
    color: var(--main-color);
    text-shadow: 0 0 50px var(--main-color);
}
.about-img{
    border-radius: 50%;
}
.about-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    top: 1rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.about-img img:hover{
    box-shadow: 0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.heading{
    text-align: center;
    font-size: 8rem;
}
.about-content h2{
    -webkit-text-stroke: .1px black;
    text-align: left;
    line-height: 1.5;
}
.about-content h3{
    -webkit-text-stroke: .1px black;
    font-size: 4rem;
}
.about-content h4{
    -webkit-text-stroke: .1px black;
    font-family: "Kanit", sans-serif;
    font-size: 2.8rem;
    margin: 2rem 0 3rem;
}
.about-content.text-animation span::before{
    content: 'Beginner Web Designer';
    color: var(--main-color);
    animation: words 20s infinite;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}